/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: 'Segoe UI';
    src: url('./assets/fonts/Segoe\ UI.ttf');
}

@font-face {
    font-family: 'Segoe UI Italic';
    src: url('./assets/fonts/Segoe\ UI\ Italic.ttf');
}